@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --border-default: 1px solid black;
  --dark-gray-5: #1e1f22;
  --dark-gray-4: #242529;
  --dark-gray-3: #2b2d31;
  --dark-gray-2: #313338;
  --dark-gray-1: #383a40;
  --light-gray-1: #f1f2f4;
  --light-gray-2: #dbdee1;
  --light-gray-3: #b5bac1;
  --light-gray-4: #80848e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--light-gray-1);
}

html {
  background-color: var(--dark-gray-5);
}

#root {
  margin: auto;
  width: 100vw;
  max-width: 1080px;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  min-height: 0; /* prevents this container from growing too large */
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: var(--dark-gray-3);
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.online-users-container {
  background-color: var(--dark-gray-1);
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  padding: 10px;
  font-weight: 500;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  padding-right: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.user-icon {
  overflow: hidden;
  border-radius: 50%;
  padding: 5px;
  margin: 5px 10px;
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark-gray-5);
  font-weight: 500;
}

.messages-container {
  overflow-y: auto;
  overflow-x: hidden;

  flex-grow: 1;

  display: flex;
  flex-direction: column-reverse;
}

.new-message-container {
  margin: 15px;
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.input-message {
  background-color: var(--dark-gray-1);
  flex-grow: 1;
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: none;
}

.send-button {
  background-color: var(--dark-gray-1);
  border: none;
  cursor: default;
  font-size: 1em;
  padding: 0 10px;
}
.send-button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.message {
  width: 100%;
  display: flex;
}
.message:hover {
  background-color: var(--dark-gray-3);
}

.message-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.alert {
  line-height: 25px;
  padding: 0 10px;
}
.alert-green {
  background-color: #003300;
}
.alert-red {
  background-color: #4d0000;
}

.username {
  font-weight: 500;
}

.content {
  line-height: 25px;
  word-break: break-word;
  padding-right: 10px;
}
.content.username {
  color: var(--light-gray-4);
}
.content.alone {
  margin-left: 60px;
}

.welcome-message {
  padding: 20px;
  display: flex;
  align-items: center;
  transform: scale(125%);
}

.info {
  color: var(--light-gray-4);
  padding: 20px;
}