:root {
  --border-default: 1px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


#root {
  margin: auto;
  width: 100vw;
  max-width: 1080px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  height: 100%;
  max-height: 600px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.online-users-container {
  border: var(--border-default);

  overflow-y: auto;
  overflow-x: hidden;

  min-width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  border: 1px solid pink;
  padding: 10px;
  list-style-type: none;

  display: flex;
  align-items: center;
}

.user-icon {
  border: var(--border-default);
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;

  padding: 5px;
  margin-right: 5px;
}

.main-container {
  border: var(--border-default);

  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messages-container {
  border: 1px solid red;

  overflow-y: auto;
  overflow-x: hidden;

  flex-grow: 1;

  display: flex;
  flex-direction: column-reverse;
}

.new-message-container {
  display: flex;
}

input {
  flex-grow: 1;
  padding: 10px;
}

.message {
  padding: 10px;
}
.message:hover {
  background-color: #ddd;
}

.username {
  color: blue;
}
.content {
  color: black;
}
.timestamp {
  color: orange;
}




