@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --border-default: 1px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


#root {
  margin: auto;
  width: 100vw;
  max-width: 1080px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  max-height: 600px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.online-users-container {
  border: var(--border-default);

  overflow-y: auto;
  overflow-x: hidden;

  min-width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

h3 {
  padding: 5px 10px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  padding: 5px 10px;
  list-style-type: none;

  display: flex;
  align-items: center;
}

.user-icon {
  overflow: hidden;
  border-radius: 50%;

  padding: 5px;
  margin-right: 5px;
  height: 35px;
  width: 35px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.main-container {
  border: var(--border-default);

  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messages-container {
  overflow-y: auto;
  overflow-x: hidden;

  flex-grow: 1;

  display: flex;
  flex-direction: column-reverse;
}

.new-message-container {
  display: flex;
}

input {
  flex-grow: 1;
  padding: 10px;
}

.message {
  padding: 10px;
  display: flex;
}
.message-text {
  display: flex;
  flex-direction: column;
}

.alert {
  padding: 10px;
}
.alert-green {
  background-color: lightgreen;
}
.alert-red {
  background-color: lightpink;
}

.username {
  font-weight: bold;
}
.content {
  color: black;
}
.timestamp {
  color: orange;
}




